body
{
	font-size: small;
	font-family: sans-serif;
	margin: 0px;
	background: #CC0000;
	width: 100%
}

.banner 
{
	margin-bottom: 0px;
	margin-top: 10px;
	margin-left: 20%;
	margin-right: 20%;
	background: #660000;
	padding: 20px;
	border: 1px solid #660000;
	border-bottom: none;
}

.navigation
{
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 20%;
	margin-right: 20%;
	background: #660000;
	padding: 3px;
	border: 1px solid #660000;
	border-bottom: none;
	border-top: none;
}

.navigation :link, .navigation :visited
{
	padding: 0px 5px 0px 5px;
	font-size: 90%;
	text-transform: lowercase;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}

.navigation :link:hover, .navigation :visited:hover
{
	padding-bottom: 4px;
	border-bottom: 3px solid #660000;
}

.content
{
	margin-bottom: 10px;
	margin-top: 0px;
	margin-left: 20%;
	margin-right: 20%;
	background: #ffffff;
	padding: 10px;
	border: 1px solid #660000;
}

a:link
{
	color: #660000;
}

a:visited
{
	color: #660000;
}

ul
{
	margin-top: 2px;
	margin-bottom: 2px;
	padding-left: 2em;
}

hr {
	border: 0px;
	height: 1px;
	background: #aba;
}
